.whySection {
  width: 100%;
  max-width: 1300px;
  padding: 4rem 4rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: linear-gradient(#88E1E5,#FFFFFF);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 3.5rem;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.airplanePath {
  position: absolute;
  top: 8.5em;
  left: 0;
  width: 37%;
  height: 60px;
  z-index: 1;
}

.dottedLine {
  position: absolute;
  top: 50%;
  left: 15%;
  width: 15%;
  height: 2px;
  background-image: radial-gradient(circle, #000 1px, transparent 1px);
  background-size: 10px 2px;
  background-repeat: repeat-x;
  transform: translateY(-50%);
}

.airplane {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  z-index: 2;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  position: relative;
  z-index: 2;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

@media (min-width: 1024px) {
  .title {
    font-size: 2.5rem;
  }
  
  .cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 767px) {
  .whySection {
    padding: 1.5rem 0;
  }
  
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 0 1rem;
  }
  
  .title {
    font-size: 1.75rem;
    margin-bottom: 2.5rem;
  }
  
  .airplanePath {
    top: 5rem;
  }
}

@media (max-width: 480px) {
  .whySection {
    padding: 1rem 0;
  }
  
  .cards {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: #178C95;
  color: #fff;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.cardIconWrapper {
  margin-top: 1rem;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardIcon {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

.cardTitle {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}
